<h2>
    <md-icon> settings </md-icon> Settings
</h2>

<div class="pad-bottom" layout="row">
    <md-button class="md-raised md-warn">
        Load a saved backup
    </md-button>
    <span flex></span>
</div>

<md-card>
    <md-card-content flex>
        <div layout="row" layout-align="start center">
            <h3>I'm writing a(n)...</h3>
            <span flex></span>
            <md-button class="md-raised md-icon-button" ng-if="!ctrl.editType" ng-click="ctrl.editType = true">
                <md-tooltip> Edit </md-tooltip>
                <md-icon> edit </md-icon>
            </md-button>
            <md-button class="md-raised md-icon-button" ng-if="ctrl.editType" ng-click="ctrl.editType = false">
                <md-tooltip> Save </md-tooltip>
                <md-icon> save </md-icon>
            </md-button>
        </div>
        <md-input-container class="block" ng-if="ctrl.editType">
            <label>i.e. Novel, Essay, Poem</label>
            <input flex ng-model="ctrl.appData.settings.type">
        </md-input-container>
        <div class="pad-bottom" ng-if="!ctrl.editType">
            <p class="serif" ng-bind="ctrl.appData.settings.type"></p>
        </div>
    </md-card-content>
</md-card>