/* Shared styles */

html, body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #FAFAFA;
}

md-content > * {
    max-width: 1000px;
    margin: 0px auto;
}

h2 + h5 {
    margin-bottom: 20px;
}

h3 {
    margin: 0;
}

md-list {
    padding: 0;
}

a:link {
    color: black;
}

a:active {
    color: lightgray;
}

a:visited {
    color: gray;
}

md-card > md-input-container, md-card > div, md-card > p {
    margin-left: 12px;
    margin-right: 12px;
}

md-card md-card-header {
    padding: 16px 1px;
}

textarea.md-input {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #FAFAFA;
}
::-webkit-scrollbar-thumb {
    background-color: #CCC;
    border-radius: 4px;
}

.block {
    display: block;
}

.body-text {
    font-size: 14px;
    line-height: 1.2em;
}

.serif {
    font-family: 'Lora', serif;
}

.pad-bottom {
    padding-bottom: 10px;
}

.icon-20px {
    padding-top: 2px;
    width: 23px;
    font-size: 20px;
}

.icon-light {
    color: lightgray;
    font-family: 'Lora', serif;
}

.inline-block {
    display: inline-block;
}

/* Toolbar */

md-toolbar.wr_title h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 28px;
    font-weight:800;
    cursor: default;
}

/* Content */

md-content[ng-view] {
    padding: 0 16px;
    background-color: #FAFAFA;
}

/* Main FAB */
.wr_main-fab {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

/* Snippets */

.wr_snippets-list md-list-item {
    padding: 3px 10px;
}

.wr_snippets-list md-list-item.wr_snippets__new-snippet {
    padding: 16px 10px;
}

.wr_snippets-list div.md-list-item-text {
    max-width: 100%;
    white-space: pre-wrap;
}

.wr_snippets-list div.md-list-item-text.show-expanded {
    cursor: text;
}

.wr_snippets-list div.md-list-item-text.show-expanded .wr_snippets-list__text {
    overflow: auto;
    white-space: pre-line;
}

.wr_snippets-list div.md-list-item-text p, .wr_snippets-list div.md-list-item-text h4 {
    padding: 6px 0;
    margin: 0;
}

/* Overview */

.wr_overview__tweetable {
    margin-bottom: 20px;
}