<html ng-app="writ">
<head>
    <title>Writ</title>
    
<!-- favicon -->
    <link rel="icon" type="image/png" href="./favicon.png">
    
<!-- Library styles -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
<!-- Fonts -->
    <!--  Logo font  -->
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,800italic,800' rel='stylesheet' type='text/css'>
    <!--  Body font  -->
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <!--  Serif font  -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
    
<!-- Local styles -->
    <link rel="stylesheet" href="./app.css">
    
<!-- Library scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
    
<!-- Local scripts -->
    <script src="./app.js"></script>
    <script src="./Views/Overview/overviewController.js"></script>
    <script src="./Views/Research/researchController.js"></script>
    <script src="./Views/Settings/settingsController.js"></script>
    <script src="./Views/Snippets/snippetsController.js"></script>
    <script src="./Services/dataStore.js"></script>
    <script src="./Views/SaveDialog/saveDialogController.js"></script>
    <script src="./Views/AboutDialog/aboutDialogController.js"></script>
    
<!-- Directives -->
    <script src="./Directives/writWorkDirective.js"></script>
    
</head>
<body flex layout="column" ng-controller="app as app">
    <md-toolbar class="md-primary wr_title">
        <div class="md-toolbar-tools">
            <h2>writ</h2>
            <span flex></span>
            <md-button class="md-raised md-warn md-icon-button" aria-label="Save everything" ng-click="app.save($event)">
                <md-tooltip>Save everything</md-tooltip>
                <md-icon> save </md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="settings" ng-click="app.openSettings()">
                <md-tooltip>Settings</md-tooltip>
                <md-icon> settings </md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="app.about($event)">
                <md-tooltip>About</md-tooltip>
                <md-icon> favorite </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="tab in app.mainTabs" ng-click="app.openTab(tab)" ng-attr-label="{{tab.name}}" md-active="app.isActive(tab.route)">
        </md-tab>
        <md-tab ng-if="app.isActive('/settings')" md-active="app.isActive('/settings')" label="Settings"></md-tab>
    </md-tabs>
    <md-content flex ng-view ng-class="app.$rootScope.pageClass"></md-content>
    
    <md-fab-speed-dial class="md-scale wr_main-fab" md-direction="up" md-open="app.fabIsOpen" ng-mouseenter="app.fabIsOpen = true" ng-mouseleave="app.fabIsOpen = false">
        <md-fab-trigger>
            <md-button class="md-fab" aria-label="tools">
                <md-icon> edit </md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button class="md-fab md-raised md-primary md-mini" aria-label="Dictionary and thesaurus">
                <md-tooltip md-direction="left">Dictionary/Thesaurus</md-tooltip>
                <md-icon> font_download </md-icon>
            </md-button>
            <md-button class="md-fab md-raised md-primary md-mini" aria-label="Instant idea">
                <md-tooltip md-direction="left">Instant idea</md-tooltip>
                <md-icon> lightbulb_outline </md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</body>

</html>