<md-dialog aria-label="Save Everything">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Save Everything</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon> close </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>Back up your work frequently.</h2>
            <p>Click this link to download everything you've done so far.</p>
            <a ng-if="ctrl.saveLink" ng-href="{{ctrl.saveLink}}" download="writ_{{ctrl.dateString}}.json">Download backup</a>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="ctrl.accept()">
            Done
        </md-button>
    </md-dialog-actions>
</md-dialog>